@import "src/styles/global";
@import "solarPanels.module";

.important {
  &.carportPage {
    .steps {
      gap: 5%;

      .step {
        height: 220px;

        &:not(:last-of-type) .number::after {
          content: '';
          display: block;
          position: absolute;
          bottom: -130%;
          right: 45%;
          transform: translateX(-50%);
          height: 80px;
          width: 3px;
          background-color: var(--cl-highlighted);
        }
      }
      }
  }

  .carport {
    flex: 1;
    display: flex;
    flex-direction: row-reverse;

    .imageHolder {
      width: 90%;
      height: 80%;
      position: relative;
      img {
        position: absolute;
        top: -15%;
        width: 100%;
        height: 100%;
        object-fit: contain;
        z-index: 2;
      }
    }
  }

  @media screen and (max-width: $medium) {
    flex-direction: column-reverse;
    &.carportPage {
      .steps {
        gap: 5%;

        .step {
          height: 150px;
          max-width: 80%;

          &:not(:last-of-type) .number::after {
            height: 60px;
          }
        }
      }
    }

    .carport {
      flex: unset;
      width: 100%;
      height: 200px;

      .imageHolder {
        width: 100%;
        height: 130%;

        img {
          right: -45%;
          transform: matrix(-1, 0, 0, 1, 0, 0);
        }
      }
    }
  }
  @media screen and (max-width: $small) {
    flex-direction: column-reverse;
    &.carportPage {
      .steps {

        .step {
          height: 150px;
          max-width: 90%;

          &:not(:last-of-type) .number::after {
            height: 60px;
            bottom: -160%;
          }
        }
      }
    }
  }
}

.title {
  width: 100vw;
  min-width: 310px;
  background-color: var(--cl-highlighted);
  font-size: 1.5em;

  h3 {
    padding: 50px;
    color: var(--cl-bg-main);
  }

  @media screen and (max-width: $small) {
    font-size: 1.3em;
    h3 {
      padding: 25px;
    }
  }
}

.carports {
  display: flex;
  flex-direction: column;
  gap: 150px;

  .carport {
    height: 500px;
    display: flex;
    align-items: center;

    .image {
      flex: 1;
      height: 100%;
      img {
        object-fit: contain;
        width: 100%;
        height: 100%;
      }
    }

    .info {
      flex: 1;
      height: 90%;

      h2 {
        color: var(--cl-highlighted);
        margin-bottom: 5%;
      }

      .blocks {
        display: flex;
        flex-direction: column;
        gap: 5%;
        height: 80%;

        .line {
          height: 40%;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          gap: 5%;

          .block {
            background-color: var(--cl-bg);
            flex: 1;
            height: 100%;
            border-radius: 10px;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            font-size: 0.75em;
            color: var(--cl-darkest-text);

            p {
              flex: 1;
              margin: 0 2%;

              &:first-of-type {
                flex: 1.1;
                margin-top: 1em;
                font-size: 1.7em;
                font-weight: bold;
              }
            }
          }

          &:nth-of-type(2) {
            .block {
              &:first-of-type {
                flex: 2.15;
                background-color: var(--cl-highlighted);
                color: var(--cl-bg-main);
              }
            }
          }
        }
      }
    }

    &:nth-of-type(2n) {
      flex-direction: row-reverse;
      .info {
        h2 {
          text-align: right;
        }
      }
      @media screen and (max-width: $medium) {
        flex-direction: column;
        .info {
          h2 {
            right: 0;
          }
        }
      }
    }
    &:last-of-type {
      margin-bottom: 150px;
      @media screen and (max-width: $medium) {
        margin-bottom: 0;
      }
    }

    &.noMargin {
      margin-bottom: unset !important;
      @media screen and (max-width: $small) {
        margin-bottom: -90px !important;
      }
    }
  }

  @media screen and (max-width: $medium) {
    gap: unset;

    .carport {
      flex-direction: column;
      position: relative;
      min-height: 620px;
      height: 150vw;

      .image {
        height: unset;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          height: 80%;
        }
      }

      .info {
        h2 {
          position: absolute;
          top: -4%;
        }
      }
    }
  }
  @media screen and (max-width: $small) {

    .carport {
      min-height: unset;
      height: 600px;

      .image {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: unset;
        height: 50%;
        img {
          height: 90%;
        }
      }

      .info {
        flex: unset;
        height: 50%;
        h2 {
          position: absolute;
          top: -4%;
        }
      }
    }
  }
  @media screen and (max-width: $small) {

    .carport {
      .info {
        h2 {
          top: -7%;
          font-size: 2.5em;
        }
        .blocks {
          font-size: 0.9em;
        }
      }
    }
  }
}
