@import "global";

.footerContainer {
  background-color: var(--cl-dark-state);
  height: 345px;
  width: 100%;

  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    font-size: 18px;
    font-weight: 300;
    color: #FFFFFF;

    .insta {
      margin-top: 100px;
      margin-bottom: -10px;

      svg {
        height: 50px;

        &:hover {
          path {
            fill: var(--cl-highlighted)
          }
        }
      }
    }

    .mail a {
      text-decoration-line: underline;
    }

    .terms {
      display: flex;
      gap: 30px;

      button {
        color: #FFFFFF;
      }
    }

  }
  @media screen and (max-width: $medium) {
    .footer {
      font-size: 15px;
    }
  }
  @media screen and (max-width: $small) {
    height: 150px;
    .footer {
      font-size: 0.70em;
      gap: 15px;

      .insta {
        margin-top: 20px;
        margin-bottom: -5px;

        svg {
          height: 30px;
        }
      }

      .terms {
        gap: 10px;
      }

    }
  }
}
