@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Source+Sans+Pro:wght@400;600;700;900&display=swap');

:root {
    --cl-bg-main: #FFF;
    --cl-highlighted: #4FAAFF;
    --cl-darkest-text: #01163C;
    --cl-dark-state: #034177;
    --cl-passive-state: #3775AC;
    --cl-bg: #E9F2F6;

    --small: 600px;
    --medium: 900px;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Outfit', sans-serif;
    min-width: 310px;
    overflow-x: hidden;
}

.wrapper {
    max-width: 1464px;
    margin: auto;
    height: inherit;
    padding-left: 30px;
    padding-right: 30px;
}

@media screen and (max-width: 600px) {
    .wrapper {
        padding: 0 10px;
    }
}


button:hover, a:hover {
    cursor: pointer;
    color: var(--cl-highlighted) !important;
    text-underline-color: var(--cl-highlighted);
}

/*stuff*/
.all-screen {
    width: 100vw;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    display: flex;
    justify-content: center;
    align-items: center;
}
